.card-containing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 60px;
    background-color: #F8E3D2;
    
   
  }
  
  /* Individual card styles */
  .card-item {
    max-width: 300px;
    max-height: 400px;
    border: 1px solid #f39dc6;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    
    
  }
  
  .card-item:hover {
    transform: scale(1.05);
  }
  
  /* Image styling */
  .card-images {
    height: 420px;
    object-fit: cover;
    
    
  }
  
  /* Card body alignment */
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 10px;
    background-color: white;
    
  }
  
  /* Title styling */
  .card-title {
    background-color: white;
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(69, 10, 40);
  
  }
  
  /* Price styling */
  .card-price {
    background-color: white;
    font-size: 0.9rem;
    color: #3d031b;
    
  }
  
  /* Buttons and quantity styling */
  .card-buttons {
    background-color: #f39dc6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    
  }
  
  .card-button {
    background-color: #f39dc6;
    width: 35px;
    border: 1px solid green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    
  }
  
  .card-button:hover {
    background-color: #ff80b3;

  }
  
  .quantity {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    background-color: white;
  }

  .heart-button {
  background: none;
  border: 1px solid white;
  color: #ff4081;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  }
  

.heart-button.liked {
  color: white;
  background-color: #ff4081;
}

.heart-button.liked:hover {
  background-color: #e91e63;
  border-color: #e91e63;
}
.star-rating {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.star {
  cursor: pointer;
 color: #ccc; 
  margin: 0 2px;
  transition: transform 0.2s ease ,color 0.2s ease;
}

.star.active {
  color: #ffc107; /* Gold color for selected stars */
}


.star:hover {
  transform: scale(1.2);
  color: #ffca28;
}

